body {
    background-color: #110E51;
    color: #E7ACEC;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    scroll-behavior: smooth;
  }
  
  html:nth-child(1){
    cursor: url("Orange_Arrow_NeonCursor.png"), auto;
  }
  

.background{
    width: 100%;
    position: absolute;
    z-index: -2;
    opacity: 90%;
    /* box-shadow: 0px 10px 40px 1px #E085E5; */
    border-bottom: solid 2px #8F1DAE;
}


.nameimg {
    display: block;
    width: 40%;
    margin: auto;
    padding-top: 50px;
}


/* .navbar{
    background-color: white;
    opacity: 10%;
} */

.menu {
     font-family: "Squada One", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    list-style-type: none;
    text-decoration: none;
    font-size: 40px;
    opacity: 100%;
    margin-top: 100px;
}

li{
    padding: 0px 100px;
}

a:visited {
color: #30DDD4;
}

a {
    color: #30DDD4;
    cursor: url("Purple_Hand_NeonPointer.png"), auto;
}

.mainContent {
    position: relative;
}

.mainTitle {
    margin-top: 600px;
    display: flex;
    justify-content: center;
    font-size: 50px;
}
/* 
.mainContent{
    margin-left: 50px;
    padding-right: 10%;
    margin-right: 50%;
    border-right: solid #8F1DAE 0.5px;
} */


.mainContent{
    margin-top: 500px;
    margin-left: 50px;
    padding-right: 10%;
    margin-right: 50%;
    border-right: solid #8F1DAE 2px;
    padding-top: 100px;
} 